body {
    margin: 0;
    font-family: 'Ubuntu'; /* Ubuntu font */
    background-color: #333;
}

#nav {
    overflow: hidden;
}

#nav h3 {
    margin: 0;
    padding: 10px;
    color: white;
    font-family: 'Ubuntu'; /* Ubuntu font */
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox to align items */
}

#nav ul li {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Vertically center the items */
}

#nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-size: 150%;
}

#nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

.hr {
    display: inline-block;
    height: 35px;
    border-left: 1px solid white;
    margin: 0 1%; /* Adjust as needed */
}
